label{
    display: inline-block;
    border: 2px solid #4D5B9E;
    border-radius: 8px;
    padding: 1px 10px;
    margin: 1px 5px;;
}

fieldset {
    border: none;
    border-bottom: 2px solid #D6DBF5;
    padding: 0;
    padding-bottom: 15px;
    max-width: 650px;
}
.green {
    background-color: #94D7A2 !important;
}

.red {
    background-color: #F8BCBC;
}